{% extends 'base.html' %}
{% block head %}
    <script>
    function add(){
        num = parseFloat($('.num_show').val());
        repertory = $('.kucun em').text()
        if (num >= repertory ){
            alert("已达最大购买数量，请留意库存信息")
            num = repertory
            return
        }
        $('.num_show').val(num +=1);
        $('.num_show').blur();
    }
    function minus(){
        num = parseFloat($('.num_show').val());
        if (num<=1){
            return;
        }
        $('.num_show').val(num -=1);
        $('.num_show').blur();
    }
    $(function () {
        $('.num_show').blur(function () {
            num = parseInt($('.num_show').val());
            repertory = $('.kucun em').text()
            if (num<=0 || isNaN(num)){
                alert("老板，请输入正常数量")
                num = 1;
                $(this).focus()
            }
            if (num >= repertory){
                alert("已达最大购买数量，请留意库存信息")
                num = repertory
            }
            price = parseFloat($('.price').text());
            total = parseFloat((num*100) * (price*100))/10000;
            $('.num_show').val(num)
            $('.gtotal').text(total.toFixed(2)+'元')
        })
        $('.buy_btn').click(function(){
		    //判断用户是否登录，如果没登录则提示转向登录页面
            if($('.login_btn').text().indexOf('登录')>=0){
                alert("悟空，记得要先登录，后购买");
                location.href = '/users/login/';
                return
            }

            var count = parseInt($('.num_show').val())
            var num = parseInt($('#show_count').text())
		    $.get('/cart/add_cart/{{ goods.id }}_'+count,function (data) {
		        var num1 = data.counts
                if(num1 == num+1 || num1 == num){
                    location.href = '/cart/';
                }
                else {
                    alert("购买失败，请刷新后重试")
                }
            })

		})
    })
    </script>
{% endblock %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goods/{{ type.0.id }}/1/1" class="fruit">{{ type.0.title }}</a></li>
                    <li><a href="/goods/{{ type.1.id }}/1/1" class="seafood">{{ type.1.title }}</a></li>
                    <li><a href="/goods/{{ type.2.id }}/1/1" class="meet">{{ type.2.title }}</a></li>
                    <li><a href="/goods/{{ type.3.id }}/1/1" class="egg">{{ type.3.title }}</a></li>
                    <li><a href="/goods/{{ type.4.id }}/1/1" class="vegetables">{{ type.4.title }}</a></li>
                    <li><a href="/goods/{{ type.5.id }}/1/1" class="ice">{{ type.5.title }}</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href='/goods/{{ goods.gtype_id }}/1/1'>{{ title1 }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/media/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3 >{{ goods.gtitle }}</h3>
			<p>{{ goods.gdetail }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em class="price">{{ goods.gprice }}</em></span>
				<span class="show_unit" >单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl" >数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
                    <span class="kucun">库存：<em>{{ repertory }}</em></span>
				</div>

			</div>
			<div class="total" >总价：<em class="gtotal">{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for gd_news in news %}
					<li>
						<a href="/goods/{{ gd_news.id }}"><img src="/static/media/{{ gd_news.gpic }}"></a>
						<h4><a href="/goods/{{ gd_news.id }}">{{ gd_news.gtitle }}</a></h4>
						<div class="prize">￥{{ gd_news.gprice }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.gcontent|safe }} </dd>
				</dl>
			</div>

		</div>
	</div>

{% endblock body %}

    {% block foot %}
    <div class="add_jump1"></div>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$('#add_cart').click(function(){
		    $(".add_jump1").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		    //判断用户是否登录，如果没登录则提示转向登录页面
            if($('.login_btn').text().indexOf('登录')>=0){
                alert("悟空，记得要先登录，后购买");
                location.href = '/users/login/';
                return
            }
			$(".add_jump1").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump1").fadeOut('fast',function(){});
                });
            count = parseInt($('.num_show').val())
		    $.get('/cart/add_cart/{{ goods.id }}_'+count,function (data) {
                value = data.counts;
                $('#show_count').text(value);
            })
		})

	</script>{% endblock%}